*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray-500: #8E8E8E;
  --gray-600: #656565;

  --blue-20: #3e7cc50f;
  --blue-50: #EEF4FC;
  --blue-400: #689CDA;
  --blue-500: #3E7CC5;
  --blue-500-40: #3E7CC540;
  --blue-600: #174E8F;

  --green-700: #47A445;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 77.5%;
  }
}

body {
  background: var(--white);
  color: var(--gray-700);
}

body, input, textarea, select, button {
  font: 400 1rem "Lato", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}